<meta charset="utf-8" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JD's Portfolio</title>
    <link rel="stylesheet" href="styles.css">
</head>

<link rel="stylesheet" href="styles.css">


<main>

    <header>
        <div class="key-item" style="margin: 0 auto; background: linear-gradient(var(--background), var(--secondary)) padding-box,
              linear-gradient(to right, var(--accent), var(--primary)) border-box;">
            <h1>I am <span class="text-grad">Jaiden Williams</span></h1>
            <small class="text-grad">A Shaw High School Freshman</small>
        </div>
    </header>

    <div style="display: flex; justify-content: center; padding: 20px">

        <p>
            Hello! I'm <span class="text-grad">Jaiden Williams</span>, A <span class="text-grad">Freshman</span> at <span class="text-grad">Shaw High School</span>!
            Since beginning my journey in the fields of IT, AVTF, and Music Production, my persistence and dedication have led me to do great things, and create Amazing projects that I'm proud to have my name attached to.
        </p>

    </div>

    <div class="carousel">
        <div class="key-item item-centered">
            <p>I Have Experience with Coding, Video Production, and More.</p>
        </div>
        <div class="key-item item-centered">
            <p>I am a music producer and Video Editor.</p>
        </div>
        <div class="key-item item-centered">
            <p>I've worked on various projects, including this website!</p>
        </div>

    </div>

    <section>
        <div style="padding: 5px">

            <h1> <span class="text-grad">About Me </span></h1>

            <p> ​I'm <span class="text-grad">Jaiden Williams</span>, a <span class="text-grad">9th Grader</span>. I've been working in the Audio industry for 2 years, producing music for a Game I'm creating. I took a course in Animation while in 8th grade, and am working on creating a Digital Animation Studio. I have 2 years of experience in C++, and 1 in Python and GDScript, a Pythonic coding language for the Godot Game Engine. I'm aiming to do <span class="text-grad">Dual Enrollment with Columbus Tech.</span> I do Morning Announcements.</p>
        </div>
    </section>

    <section>
        <div style="padding: 5px" class="key-item">

            <h1 class="text-grad">Education</h1>

            <p>​I'm currently taking the following 9th grade classes:</p>

            <ul>
                <li>Introduction to Software Technology</li>
                <li>Honors Algebra</li>
                <li>Honors Literature</li>
                <li>Audio-Visual Technology and Film (AVTF) I</li>
                <li>Advanced Placement (AP) Government and Politics</li>
                <li>Health</li>
                <li>Honors Physical Science</li>
            </ul>

            <div class="carousel">
                <img src="res/cert1.jpg" alt="CareerSafeOnline Time Management Training Certificate" style="max-width: 50%; height: auto;">
                <img src="res/cert2.jpg" alt="CareerSafeOnline Communication Skills Training Certificate" style="max-width: 50%; height: auto;">
            </div>
        </div>
    </section>
</main>

<footer>
    <small style="padding: 20px"> Jaiden Williams - jd@void-team.com </small>
</footer>