:root {
    --text: #ffffff;
    --background: #181e26;
    --primary: #1eff7b;
    --secondary: #13274e;
    --accent: #9472c4;
}


/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    border-radius: 0px;
    border:0px solid rgba(255, 255, 255, 0.18);
}
  
 /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}


.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* Inter */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZ9hiA.woff2)
        format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2)
        format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.main-content {
    padding: 20px;
}

body {
    text-align: center;
    font-family: "Inter";
    font-weight: 400;
    background-color: var(--background);
    color: var(--text);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: var(--text);
}

html {
    /* 16px */
    font-size: 100%;
}

/* 16px */
h1 {
    /* 67.36px */
    font-size: 4.21rem; /* 67.36px */
}

h2 {
    /* 50.56px */
    font-size: 3.158rem; /* 50.56px */ 
}
h3 {
    /* 37.92px */
    font-size: 2.369rem; /* 37.92px */
}
h4 {
    /* 28.48px */
    font-size: 1.777rem; /* 28.48px */
}

h5 {
    /* 21.28px */
    font-size: 1.333rem; /* 21.28px */
}
small {
    /* 12px */
    font-size: 0.75rem; /* 12px */
}

.text-underline {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--accent);
    text-decoration-style: dashed;
    text-underline-offset: 0.2em;
}

.text-grad {
    color: transparent;
    background: linear-gradient(to bottom right, var(--primary), var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
}

.key-item {
    border: 2px solid transparent;
    background: linear-gradient(var(--background), var(--secondary)) padding-box,
        linear-gradient(to right, var(--accent), var(--primary)) border-box;
    border-radius: 15px;
    padding: 20px;
}

.item-centered {
    padding: 20px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.carousel {
    padding: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
}

div.carousel > *:not(last-child) {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

div.bento {
    display: grid;
    padding: 20px;
    margin: 0 auto;

    gap: 10px;
    text-align: center;
    justify-content: center;

}
div.bento > div {
    padding: 2%;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
}
button {
    background-color: var(--primary);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
button:hover {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 30px var(--primary);
    transition: all 0.2s ease-in-out;
}

aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: var(--accent);
}

aside > p {
    margin: 0.5rem;
}
